.card {
    display: inline-block;
    width: 200px;
    height: 120px;
    border: 1px solid black;
    background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F2fb-g_V-UT4%2Fhqdefault.jpg&f=1');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s transform;
    transform-origin: top left;
    float: left;
    margin: 10px;
    position: relative;
    backface-visibility: hidden;
    text-shadow: 1px 1px 2px black;
}

.content {
    width: 200%;
    height: 200%;
    transform: scale(.5) translateZ(0px);
    transform-origin: top left;
}
  
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    touch-action: none;
    transition: opacity 1s;
}
  
.card:hover {
    transform: scale(2);
}

 
.container:hover ~ .container { 
    transition: .5s transform;
    transform: translate3d(200px, 0, 0); 
}

  
.card:hover .overlay {
    opacity: 1;
    touch-action: auto;
    transform: scale(1)
}

.row {
      height: 300px;
      width: 95vw;
      margin: auto;
      /* overflow-x: scroll; */
}