/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto|Squada+One&display=swap');

body {
    background-color: #022b3a;
    color: #bfdbf7;
    font-family: 'Roboto', sans-serif;
}

h1, .btn {
    color: white;
    font-family: 'Squada One', cursive;
}

.logo {
    color: #d33f49;
    font-family: 'Squada One', cursive;
}
