@import url('https://fonts.googleapis.com/css?family=Roboto|Palanquin+Dark&display=swap');

body {
    background-color: #022b3a;
    color: #bfdbf7;
    font-family: 'Roboto', sans-serif;
}

h1, .btn {
    color: white;
    font-family: 'Palanquin Dark', cursive;
}

.logo {
    color: #d33f49;
    font-family: 'Palanquin Dark', cursive;
}
