@import url('https://fonts.googleapis.com/css?family=Roboto|Palanquin+Dark&display=swap');

@font-face { font-family: Bebas; src: url(assets/BebasNeue-Regular.ttf) format("opentype"); }

body {
    background-color: #022b3a;
    color: #bfdbf7;
    font-family: 'Roboto', sans-serif;
}

h1, .btn {
    color: white;
    font-family: 'Bebas', cursive;
}

.logo {
    color: #d33f49;
    font-family: 'Bebas', cursive;
}
